#homepage-body{
  background-color: #f0f9ed;
}

#signature-organic-logo img {
  position: relative;
  min-width: 15vh;
  max-height: 15vh;
  margin-bottom: 0;
}

#homepage-hero{
  width:auto;
  height: 50vh;
  background-image: url("https://imgur.com/hnVLj0T.jpg");
  background-position: center;
  background-size: cover;
}

.homepage-customer-review{
  border-left: 3px solid #BF8849;
  text-align: center;
}

#review-section-title{
  transform: translate(0%,30%);
}

.section-headers{
  text-align: center;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

#homepage-review-section{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
  background-color: #fff6ed;
}
#homepage-company-description{
  margin-top: -2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #fff6ed;
}
#homepage-company-description h3{
  margin-bottom: 0px;
  padding-top: 1rem;
}
#homepage-company-description p{
  margin-top: 0px;
}

#homepage-description-content{
  padding: 1rem;
}

#homepage-google-map{
  height: 30vh;
  width: 30vw;
}
